body {
    margin: 0;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.login-page {
    position: absolute;
    width: 547px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: linear-gradient(200.03deg, #3abda9 -8.99%, #6179c6 105.7%);
}

.login-card {
    position: absolute;
    width: 490px;
    height: 292px;
    left: 29px;
    top: 180px;
    background: #ffffff;
    border-radius: 8px;
}

.right-column {
    position: absolute;
    width: 695px;
    height: 480px;
    left: 695px;
    top: 80px;
    border: red solid 3px;

    // background: url(—Pngtree—people working in a table_7537097.png);
}

.right-column img {
    // imagem
}

.right-column p {
    position: absolute;
    width: 732px;
    height: 201px;
    // left: 10px;
    top: 300px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}
